#actor-container {
  width: 190px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actor-image {
  width: 120px;
  height: 150px;
  margin-bottom: 15px;
}
