.confirm-signup-modal-section {
  position: fixed;
  background: rgba(212, 212, 212, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.confirm-signup-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 130px;
  background-color: black;
  color: #ffba00;
  border-radius: 10px;
}

.confirm-signup-modal-text {
  display: flex;
  justify-content: center;
}

.confirm-signup-modal-btn {
  margin-left: 20px;
}
