#detail-container {
  width: 100vw;
  margin-top: 50px;
  color: #fff;
}
.detail-actor {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
}
.detail-actor-about {
  display: flex;
}
.detail-actor-movies {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  grid-gap: 2rem;
  justify-content: space-around;
  justify-items: center;
}
.detail-actor-title {
  border-bottom: 2px solid #ffba00;
  padding-bottom: 10px;
}
