.user-edit-modal-section {
  position: fixed;
  background: rgba(212, 212, 212, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
}

.user-edit-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: black;
  color: #ffba00;
  border-radius: 10px;
  /* border: 1px solid #000; */
}

.user-edit-modal-text {
  font-size: 30px;
  text-align: center;
}

.user-edit-input {
  width: 60%;
  margin: 0 auto;
  flex: 1 1 auto;
}
label {
  margin-right: 10px;
  display: block;
}

.user-btn-lap {
  display: flex;
  margin: 0 auto;
}

.user-edit-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-edit-form {
  display: flex;
  flex-direction: column;
}
.user-edit-write {
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  width: 100%;
  transition: 0.3s;
}

.user-edit-write:hover {
  border-bottom: 2px solid #ffba00;
}

.user-edit-write:focus {
  outline: none;
}
.user-modal-close {
  font-size: 40px;
  position: absolute;
  justify-content: center;
  left: 85%;
  top: 7%;
  transition: 0.2s;
  cursor: pointer;
}

.user-modal-close:hover {
  font-size: 45px;
}

button {
  background-color: #fff;
  border-radius: 5px;
  border: none;
  width: 120px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ffba00;
}

.user-edit-delete-btn {
  margin-left: 20px;
}

.user-input-errMessage {
  display: flex;
  justify-content: center;
}
