#main-container {
  width: 100vw;
  height: 500px;
}

.main-nav {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
}
.main-todayactor {
  padding: 20px;
}

.main-bryta {
  height: 200px;
  padding: 30px;
}

.main-bryta-name {
  padding: 20px;
}

.main-bryta-about {
  padding: 20px;
}
