#movie-container {
  width: 190px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.movie-info {
  position: relative;
  margin-bottom: 15px;
  width: 120px;
  height: 150px;
}
/* .movie-image {
  width: 120px;
  height: 150px;
} */
.movie-checkBtn {
  position: absolute;
  top: 10px;
  right: 0;
}

/* .movie-name {
  width: 120px;
} */
