header {
  position: fixed;
  top: -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  z-index: 999;
  background-color: #fff;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.logo-img {
  margin-top: 10px;
  width: 1.5rem;
}

.logo-text {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffaa28;
  letter-spacing: 0.1em;
}

.nav-search {
  width: 200px;
  position: relative;
}

.nav-search input {
  width: 100%;
  padding: 10px 5px 10px 10px;
}

.nav-search-icon {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 12px;
}

.nav-right {
  color: #000;
  display: flex;
  flex-direction: row;
}

.nav-mypage {
  margin: 0 15px;
}
